
@model test2.Models.tauxChange

@{
    ViewBag.Title = "taux";
    Layout = "~/Views/shared/_LayoutPage3.cshtml";
}
<style>
    /* CSS pour le sélecteur de taille de page */
    #pageSizeSelect {
        width: 50px; /* Largeur du sélecteur */
        padding: 5px; /* Espacement interne */
        font-size: 16px; /* Taille de la police */
        border-radius: 5px; /* Coins arrondis */
        border: 1px solid #ccc; /* Bordure */
        background-color: #fff; /* Couleur de fond */
        appearance: none; /* Suppression de l'apparence native */
        -webkit-appearance: none; /* Pour certains navigateurs WebKit */
        -moz-appearance: none; /* Pour certains navigateurs Firefox */
        text-align: center;
    }

        /* Style lorsque le sélecteur est survolé */
        #pageSizeSelect:hover {
            border-color: rgba(0, 123, 255, 0.5);
            /* Changement de couleur de la bordure */
        }

        /* Style lorsque le sélecteur est actif ou focus */
        #pageSizeSelect:focus {
            outline: none; /* Suppression de l'outline */
            border-color: #007bff; /* Changement de couleur de la bordure */
            box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Ombre portée */
        }

    .required::before {
        content: '*';
        color: red;
        margin-right: 5px;
    }
</style>
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between">
        <div class="logo">
            <!-- Uncomment below if you prefer to use a text logo -->
            <!-- <h1><a href="index.html">NewBiz</a></h1> -->
            <a href="~/Account/Index"><img src="~/assets/img/Tunisair_(logo).svg" alt="" class="img-fluid" style="max-height: 100px;"></a>
        </div>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="~/Account/Index">Accueil</a></li>
                <li><a class="nav-link scrollto" href="~/Account/Index/#about">À propos</a></li>
                <li class="dropdown">
                    <a href="#"><span>Services</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="#">Gestion Taux de Change</a></li>
                        <li><a href="~/Home/Index">Gestion Bulletin de Soin</a></li>
                        <li><a href="~/Adhesion/adhesionPersonnel">Gestion Adhésion Personnel</a></li>
                        <li><a href="~/FamillePrestations/famille">Gestion Libellé des Prestations</a></li>

                        <li><a href="~/SousFamille/sousFamille">Gestion des prestations </a></li>

                    </ul>
                </li>
                <li><a class="nav-link scrollto" href="~/Account/Index/#testimonials">Equipe</a></li>
                <li><a class="nav-link scrollto" href="~/Account/Index/#contact">Contact</a></li>
            </ul>
            <div>
                <a href="~/Account/Login" class="btn-log-out" style="border: 2px solid #004289; color: #004289; margin-left: 100px; border-radius: 50px; text-align: center; padding: 5px 20px 5px 20px; " onmouseover="this.style.background='#004289'; this.style.color='#ffffff';" onmouseout="this.style.background='#ffffff'; this.style.color='#1549c2';">Déconnexion</a>
            </div>

            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </div>
</header><!-- #header -->

<body style="background-color:#fff; ">


    <div class="container" style="margin-top: 10%">
        <h4 style="text-align: center; font-family: initial; color: #3a78d3; margin-top: 2%;">Les Taux de change <i class="bi bi-reception-4" style="color: #3a78d3;"></i></h4>

        <div class="row mt-3">
            <div class="col-md-12">
                <a href="#" class="btn primary-btn" onclick="AddTaux(0)" style="background-color:#e9ecef; -bs-btn-color: #000; --bs-btn-bg: #dee2e6; --bs-btn-border-color: rgba(13, 110, 253, .25); --bs-btn-hover-color: #000; --bs-btn-hover-bg: #dee2e6; --bs-btn-hover-border-color: #2b2b2b; --bs-btn-focus-shadow-rgb: #fff; --bs-btn-active-bg: #e9ecef; --bs-btn-active-border-color: #e9ecef; ">Ajouter Nouveau Taux</a>
            </div>
        </div>
        <div class="row mt-3" style="max-height: 300px; overflow-y: auto;">
            <div class="col-md-12">
                <table id="bsTable" class="table table-hover" style="text-align: center; border-color: #2b2b2b;">
                    <thead style="border-color: #2b2b2b;">
                        <tr>

                            <th>id</th>
                            <th>devise locale</th>
                            <th>devise etrangère</th>
                            <th>date debut</th>
                            <th>date fin</th>
                            <th>taux</th>
                            <th colspan="3">Action</th>
                        </tr>
                    </thead>
                    <tbody id="bodyTable">
                        <tr id="loadingStatus" style="color: red"></tr>
                    </tbody>

                </table>
            </div>
        </div>
        <div style="display:flex; justify-content:space-between;">
            <div style="display:flex; justify-content:space-between;">
                <label for="pageSizeSelect" style="margin-top:20px">Nombre d'éléments par page:</label>
                <select id="pageSizeSelect" class="form-control" style="height: 35px; margin-top: 15px; margin-left: 15px;">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="50">50</option>
                    <option value="100">100</option>


                    <!-- Ajoutez d'autres options de taille de page si nécessaire -->
                </select>
            </div>
            <nav aria-label="Page navigation example" class="d-flex justify-content-end" style="margin-top: 20px; margin-right:80px; margin-bottom:20%;">
                <ul class="pagination">
                    <li class="page-item" id="previousPage">
                        <a class="page-link" href="javascript:;" aria-label="Previous">
                            <span aria-hidden="true">&laquo; Précédent</span>
                        </a>
                    </li>
                    <li class="page-item" id="nextPage">
                        <a class="page-link" href="javascript:;" aria-label="Next">
                            <span aria-hidden="true">Suivant &raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>



    <div class="modal fade" id="MyModal">
        <div class="modal-dialog modal-dialog-scrollable" id="Modal">
            <div class="modal-content">
                <!-- Header -->
                <div class="modal-header">
                    <h4 id="ModalTitle"></h4>
                    <a href="taux" class="close" data-dismiss="modal" style="margin-top: -30;">&times;</a>
                </div>

                <!-- Body -->
                <div class="modal-body">
                    <form id="form">
                        <fieldset id="SubmitForm">
                            <div class="form-group">
                                @Html.HiddenFor(m => m.id, new { @id = "Id" })
                            </div>
                            <div class="form-group">
                                <label for="devLoc" class="required">Devise locale:</label>
                                @Html.DropDownListFor(m => m.devise_locale, new SelectList(new[] { "TND", "EUR", "GBP", "CHF", "SAR", "CAD", "LYD", "EGP", "LBP", "MAD", "MRU", "DZD", "TRY", "GNF", "XOF" }), new { @id = "devLoc", @class = "form-control", required = "required" })
                            </div>
                            <div class="form-group">
                                <label for="devEtr" class="required">Devise étrangère:</label>
                                @Html.DropDownListFor(m => m.devise_etrangere, new SelectList(new[] { "TND" }), new { @id = "devEtr", @class = "form-control", required = "required" })
                            </div>
                            <div class="form-group">
                                <label for="dd" class="required">Date début:</label>
                                @Html.TextBoxFor(m => m.date_debut, new { @id = "dd", @class = "form-control", type = "date", required = "required" })
                            </div>
                            <div class="form-group">
                                <label for="df" class="required">Date fin:</label>
                                @Html.TextBoxFor(m => m.date_fin, new { @id = "df", @class = "form-control", type = "date", required = "required" })
                            </div>
                            <div class="form-group">
                                <label for="taux" class="required">Taux:</label>
                                @Html.TextBoxFor(m => m.taux, new { @id = "taux", @class = "form-control", type = "number", step = "0.01", required = "required", min = "0" })
                            </div>
                        </fieldset>
                        <div class="modal-footer">
                            <div class="form-group">
                                <a href="taux" class="btn btn-danger" data-dismiss="modal">Fermer</a>
                                <a href="#" class="btn btn-success" id="SaveTauxRecord">Enregistrer</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        /*    $(document).ready(function() {
        $('#SaveTauxRecord').click(function(event) {
            var isValid = true;
            $('#form input[required], #form select[required]').each(function() {
                if ($(this).val() === '') {
                    isValid = false;
                    $(this).addClass('is-invalid');
                } else {
                    $(this).removeClass('is-invalid');
                }
            });

            if (!isValid) {
                event.preventDefault();
                alert('Veuillez remplir tous les champs obligatoires.');
            } else {
                $('#form').submit();
            }
        });
});*/
        $(document).ready(function () {
            $('#SaveTauxRecord').click(function (event) {
                var isValid = true;

                // Vérification des champs obligatoires
                $('#form input[required], #form select[required]').each(function () {
                    if ($(this).val() === '') {
                        isValid = false;
                        $(this).addClass('is-invalid');
                    } else {
                        $(this).removeClass('is-invalid');
                    }
                });

                // Vérification spécifique pour le champ "Taux"
                if ($('#taux').val() === '') {
                    isValid = false;
                    $('#taux').addClass('is-invalid');
                } else {
                    $('#taux').removeClass('is-invalid');
                }

                if (!isValid) {
                    event.preventDefault(); // Empêcher la soumission du formulaire si des champs obligatoires sont vides
                    alert('Veuillez remplir tous les champs obligatoires.');
                } else {
                    $('#form').submit(); // Soumettre le formulaire si tous les champs obligatoires sont remplis
                }
            });
        });


    </script>
    <div class="modal fade" id="DeleteConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4><i class="bi bi-circle-fill" style="color:red;"></i> Supprimer Taux </h4>
                    <a href="taux" class="close" data-dismiss="modal" style="margin-top: -30;">&times;</a>
                </div>
                <div class="modal-body">
                    <h5> Etes-vous sûr ? Vous souhaitez supprimer cet enregistrement.</h5>
                </div>
                <div class="modal-footer">
                    <a href="taux" class="btn btn-primary" data-dismiss="modal">Annuler</a>
                    <a href="#" class="btn btn-danger" onclick="ConfirmDelete()">Confirmer</a>
                </div>
            </div>
        </div>
    </div>


</body>

<script>

    $("#loadingStatus").html("Loading ...");

    $.get("/TauxChange/GetTCList", null, function (tauxList) {
        // Fonction appelée lorsque les données JSON sont reçues avec succès
        DataBind(tauxList);
    });

    function formatageDateISO(date) {
        var dateMilliseconds = parseInt(date.substr(6)); // Extraction des millisecondes de la chaîne
        var dateObj = new Date(dateMilliseconds); // Création d'un nouvel objet Date à partir des millisecondes

        // Formater la date au format yyyy-mm-dd
        var year = dateObj.getFullYear();
        var month = ('0' + (dateObj.getMonth() + 1)).slice(-2); // Les mois sont basés sur zéro, donc on ajoute 1 et formatage à 2 chiffres
        var day = ('0' + dateObj.getDate()).slice(-2); // Formatage à 2 chiffres pour le jour
        var formattedDate = year + '-' + month + '-' + day;

        return formattedDate;
    }

    function DataBind(tauxList) {
        var SetData = $("#bodyTable");
        for (var i = 0; i < tauxList.length; i++) {
            var formattedDateDebut = formatageDateISO(tauxList[i].date_debut);
            var formattedDateFin = formatageDateISO(tauxList[i].date_fin);

            var Data = "<tr class='row_" + tauxList[i].id + "'>" +
                "<td>" + tauxList[i].id + "</td>" +
                "<td>" + tauxList[i].devise_locale + "</td>" +
                "<td>" + tauxList[i].devise_etrangere + "</td>" +
                "<td>" + formattedDateDebut + "</td>" + // Utilisation de la date de début formatée
                "<td>" + formattedDateFin + "</td>" +
                "<td>" + tauxList[i].taux + "</td>" +
                "<td><a href='#' class='btn btn-warning' onclick='EditTaux(" + tauxList[i].id + ")'><i class='fas fa-edit small-icon text-white'></i></a></td>" +
                "<td><a href='#' class='btn btn-danger' onclick='DeletebsRecord(" + tauxList[i].id + ")'><i class='fas fa-trash-alt small-icon text-white'></i></a></td>" +
                "<td><a href='#' class='btn btn-info' onclick='ShowTauxDetails(" + tauxList[i].id + ")'><i class='fas fa-info-circle small-icon text-white'></i></a></td>" +
                "</tr>";
            SetData.append(Data);
        }

        $("#loadingStatus").html(" ");
    }



    //---------------------------------------------Pagination


    // pagination element par page
    (function () {
        // Gestionnaire d'événements pour le sélecteur de taille de page
        $('#pageSizeSelect').change(function () {
            // Récupérer la nouvelle valeur sélectionnée
            var newPageSize = $(this).val();

            // Appeler la fonction pour récupérer et afficher les données avec la nouvelle taille de page
            fetchDataWithPageSize(1, newPageSize); // Commencer à partir de la première page après le changement de taille
        });

        // Fonction pour récupérer et afficher les données avec une nouvelle taille de page
        function fetchDataWithPageSize(page, pageSize) {
            $.get("/TauxChange/GetTCList", { page: page, pageSize: pageSize }, function (tauxList) {
                // Appeler la fonction de liaison des données avec la nouvelle liste de bulletins de soin
                $("#bodyTable").empty();
                DataBind(tauxList);
            });
        }

        // Fonction pour récupérer et afficher les données
        function loadData(page, pageSize) {
            $.ajax({
                url: '/TauxChange/GetTCList',
                type: 'GET',
                data: { page: page, pageSize: pageSize },
                dataType: 'json',
                success: function (data) {
                    // Mettre à jour votre tableau HTML avec les données récupérées
                    // Ici, 'data' contient les données renvoyées par votre méthode backend
                    // Vous pouvez itérer sur 'data' pour construire les lignes de votre tableau
                    // et les ajouter à votre tableau existant
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log('Error:', textStatus, errorThrown);
                }
            });
        }
    })();

    // code pour page suivante et precedente
    $(document).ready(function () {
        var currentPage = 1;
        var pageSize = 5; // Taille de la page par défaut
        var totalPages = 10; // Nombre total de pages

        // Fonction pour charger les données de la page spécifiée et mettre à jour l'interface utilisateur
        function loadData2(page, pageSize) {
            $.get("/TauxChange/GetTCList2", { page: page, pageSize: pageSize }, function (response) {
                $('#bodyTable').empty(); // Videz d'abord le contenu existant du tableau
                var data = response.data; // Assurez-vous que votre backend renvoie les données dans un objet 'data'
                $.each(data, function (index, item) {
                    var formattedDateDebut = formatageDateISO(item.date_debut);
                    var formattedDateFin = formatageDateISO(item.date_fin);
                    var row = '<tr>' +
                        "<td>" + item.id + "</td>" +
                        "<td>" + item.devise_locale + "</td>" +
                        "<td>" + item.devise_etrangere + "</td>" +
                        "<td>" + formattedDateDebut + "</td>" +
                        "<td>" + formattedDateFin + "</td>" +
                        "<td>" + item.taux + "</td>" +
                        "<td><a href='#' class='btn btn-warning' onclick='EditTaux(" + item.id + ")'><i class='fas fa-edit small-icon text-white'></i></a></td>" +
                        "<td><a href='#' class='btn btn-danger' onclick='DeletebsRecord(" + item.id + ")'><i class='fas fa-trash-alt small-icon text-white'></i></a></td>" +
                        "<td><a href='#' class='btn btn-info' onclick='ShowTauxDetails(" + item.id + ")'><i class='fas fa-info-circle small-icon text-white'></i></a></td>" +
                        "</tr>";
                    $('#bodyTable').append(row);
                });
                // Mettre à jour le nombre total de pages après avoir obtenu les données
                totalPages = Math.ceil(response.totalRecords / pageSize);
                // Mettre à jour l'état des boutons de pagination
                updatePaginationButtons();
            });
        }

        // Fonction pour mettre à jour l'état des boutons de pagination
        function updatePaginationButtons() {
            $('#previousPage').prop('disabled', currentPage <= 1);
            $('#nextPage').prop('disabled', currentPage >= totalPages);
        }

        // Gestionnaire d'événements pour le bouton Précédent
        $('#previousPage').click(function () {
            if (currentPage > 1) {
                currentPage--;
                loadData2(currentPage, pageSize);
            }
        });

        // Gestionnaire d'événements pour le bouton Suivant
        $('#nextPage').click(function () {
            if (currentPage < totalPages) {
                currentPage++;
                loadData2(currentPage, pageSize);
            }
        });

        // Gestionnaire d'événements pour le sélecteur de taille de page
        $('#pageSizeSelect').change(function () {
            pageSize = $(this).val();
            loadData(1, pageSize); // Appel de la fonction loadData ici
        });

        // Appel initial pour charger les données de la première page
        loadData(currentPage, pageSize);
    });




    function AddTaux(id) {
        $("#form")[0].reset();
        $("#ModalTitle").html("Ajouter nouveau taux ");
        $("#MyModal").modal("show");

        $("#devLoc").val("");
        $("#devEtr").val("");
        $("#dd").val("");
        $("#df").val("");
        $("#taux").val("");
    }
    $(function () {
        // Initialisez le Datepicker sur les champs de date
        $("#dd").datepicker({
            dateFormat: "yy-mm-dd" // Format de date souhaité

        });
        $("#df").datepicker({
            dateFormat: "yy-mm-dd" // Format de date souhaité

        });
    });


    function EditTaux(id) {
        var url = "/TauxChange/GetTauxById?id=" + id;

        $("#ModalTitle").html("Modifier taux de change");
        $("#MyModal").modal("show");
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                var obj = JSON.parse(data);

                // Conversion des dates en objets Date
                var dateDebut = new Date(obj.date_debut);
                var dateFin = new Date(obj.date_fin);

                // Formater les dates au format 'yyyy-mm-dd'
                var formattedDateDebut = dateDebut.toLocaleDateString('en-CA');
                var formattedDateFin = dateFin.toLocaleDateString('en-CA');

                $("#Id").val(obj.id);
                $("#devLoc").val(obj.devise_locale);
                $("#devEtr").val(obj.devise_etrangere);
                $("#dd").val(formattedDateDebut);
                $("#df").val(formattedDateFin);
                $("#taux").val(obj.taux);
            }
        });
    }

    $("#SaveTauxRecord").click(function () {
        var data = $("#SubmitForm").serialize();
        $.ajax({
            type: "POST",
            url: "/TauxChange/SaveDataInDatabase",
            data: data,
            success: function (response) {
                if (response.success) {
                    alert("Success!");
                    window.location.href = "/TauxChange/taux";
                    $("#MyModal").modal("hide");
                } else {
                    alert("Erreur lors de l'enregistrement des données: " + response.errors);
                }
            },
            error: function (xhr, status, error) {
                alert("Une erreur s'est produite lors de l'envoi des données au serveur. Statut: " + status + ", Erreur: " + error);
            }
        });
    });
    function ShowTauxDetails(id) {
        var url = "/TauxChange/GetTauxById?id=" + id;
        $("#ModalTitle").html("Détails de taux de change");
        $("#MyModal").modal("show");
        $("#SaveTauxRecord").hide();
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                var obj = JSON.parse(data);

                // Conversion des dates en objets Date
                var dateDebut = new Date(obj.date_debut);
                var dateFin = new Date(obj.date_fin);

                // Formater les dates au format 'yyyy-mm-dd'
                var formattedDateDebut = dateDebut.toLocaleDateString('en-CA');
                var formattedDateFin = dateFin.toLocaleDateString('en-CA');

                $("#Id").val(obj.id).prop('disabled', true);
                $("#devLoc").val(obj.devise_locale).prop('disabled', true);
                $("#devEtr").val(obj.devise_etrangere).prop('disabled', true);
                $("#dd").val(formattedDateDebut).prop('disabled', true);
                $("#df").val(formattedDateFin).prop('disabled', true);
                $("#taux").val(obj.taux).prop('disabled', true);
            }
        });
    }
    function DeletebsRecord(id) {
        $("#Id").val(id);
        $("#DeleteConfirmation").modal("show");
    }

    function ConfirmDelete() {
        var id = $("#Id").val();
        $.ajax({
            type: "POST",
            url: "/TauxChange/DeleteTauxRecord?id=" + id,
            success: function (result) {
                $("#DeleteConfirmation").modal("hide");
                alert("taux supprimé!");
                window.location.href = "/TauxChange/taux";
                reloadData();
                if (result) {
                    $(".row_" + id).remove();

                    reloadData();  // Rafraîchir les données après modification

                } else {
                    alert("Échec de la suppression de l'enregistrement du taux.");

                }
            },
            error: function () {
                alert("Une erreur s'est produite lors de la suppression de l'enregistrement du taux.");
            }
        });
    }
</script>






















<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6 footer-info">
                    <h3>TUNISAIR</h3>
                    <p>fondée en 1948, forte de plus <br />de 75 ans d'expérience dans <br />le secteur de l'aviation,<br /> est la compagnie aérienne <br />nationale de la Tunisie.</p>
                </div>

                <div class="col-lg-4 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#about">About us</a></li>
                        <li><a href="#services">Services</a></li>

                        <li><a href="#">Privacy policy</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-contact">
                    <h4>Contact Us</h4>
                    <p>
                        <i class="bi bi-pin-map-fill"></i> Rue Aéroport Tunis-Carthage  <br>Charguia 2, Ariana <br>Siège Tunisair <br>
                        <i class="bi bi-telephone-fill"></i> <strong>Phone:</strong> +216 1789 55488 55<br>
                        <i class="bi bi-envelope-at-fill"></i><strong> Email:</strong> info@Tunisair.com.tn<br>
                        <i class="bi bi-browser-chrome"></i> <strong>Site Officiel: </strong>www.tunisair.com <br />
                    </p>


                    <div class="social-links">
                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>

                </div>



            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>TUNISAIR</strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=NewBiz
            -->
            Designed by <a href="https://bootstrapmade.com/">DCSI</a>
        </div>
    </div>
</footer><!-- End Footer -->
